*/15 * * * * /usr/bin/php /var/www/html/functions/scripts/pingCheck.php >> /var/log/cron.log
* 0 * * * * /usr/bin/php /var/www/html/functions/scripts/resolveIPaddresses.php >> /var/log/cron.log
* 0 * * * * /usr/bin/php /var/www/html/functions/scripts/discoveryCheck.php >> /var/log/cron.log
